*, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

Body {
	padding:0;
	margin:0;
	font-family: 'Noto Sans';
	position: relative; padding-top: 54px;
}

body,html { width: 100%;
  height: 100%; }

a { color: black; text-decoration: none; }
a:hover { text-decoration: underline; }

.clickable {
	cursor: pointer;
}

.Rectangle-3 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 54px;
  background-color: #ffffff;
  box-shadow: 0 0 0 0 rgba(219, 219, 219, 0.5);
  display: table; vertical-align: middle;
  border-bottom:1px solid #d2d3d9;
}

.Rectangle-10 {
  width: 100%;
  min-height:100%;
  background-color: #f0f0f0;
}

.Page-Sub-Content {
	width: 947px;
	margin:0 auto;
	padding-top: 26px;
}

.Icon-Frame {
	margin: 9px 6px 9px 20px; float:left;
}
.Base-Rounded {
  width: 36px;
  height: 37px;
  object-fit: contain;
  box-shadow: 0 0 2px 0 #707070;
}

.Listings-Total {
	font-size: 14px;
	margin: 10px 0;
}

.OpenBazaar {
  height: 15px;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 54px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.OB1 {
  width: 37px;
  height: 18px;
  font-family: 'Noto Sans';
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
 }

.Search-Bar {
  margin-top: 4px;
}
  
 .Search-Bar-Box-Left {
  width: 852px;
  height: 40px;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 rgba(219, 219, 219, 0.5);
  background-color: #ffffff;
  border: solid 1px #d2d3d9;
  float:left;
}

.Rectangle-6 {
  width: 26px;
  height: 26px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #e6e6e6;
  margin: 7px;
  float: left;
}


.logo {
  width: 26px;
  height: 26px;
}

.Search-OB1 {
  width: 810px;
  height: 40px;
  opacity: 0.5;
  font-family: 'Noto Sans';
  font-size: 13.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  border: none;
  text-align: left;
  color: #252525;
  display: table-cell; vertical-align: middle;
}

.Search-Button {
	cursor: pointer;
  width: 92px;
  height: 42px;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 rgba(219, 219, 219, 0.5);
  background-color: #ffffff;
  border: solid 1px #d2d3d9;
  border-left:0;
  float: right;
  text-align: center;
  margin: 0 auto;
}

.Search-Button:hover {
	cursor:pointer;
}


.Search {

  height: 19px;
  font-family: 'Noto Sans';
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #252525;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.Suggestions-Box {
	clear: none;
	margin-top: 9px;
	width: 703px;
  height: 19px;
  font-family: 'Noto Sans';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom:10px;
}

.Suggestions-Box a {
	text-decoration: none;
	color: black;
	margin-right: 5px;
}

.Suggestions-Box .lbl {
  color: rgba(37, 37, 37, 0.65);
  float:left;
  margin-right:10px;
}

.Line {
  width: 947px;
  height: 0px;
  border: solid 0.5px #d2d3d9;
}

.Main-Discover-Body {
	margin-top: 20px;
	width:956px;
}

.Discover-Body {
	margin-top: 20px;
}

.Discover-Body h1 {
  width: 131px;
  height: 18px;
  font-family: 'Noto Sans';
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: left;
  color: #252525;
}

.Store-Body-Listing-Box {
  cursor: pointer;
  width: 212px;
  height: 284px;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 rgba(219, 219, 219, 0.5);
  background-color: #ffffff;
  border: solid 1px #d2d3d9;
  float: left;
  margin-right:10px;
  margin-bottom: 10px;
}

.Store-Body-Listing-Box-Photo {
  width: 212px;
  height: 225px;
  border-radius: 2px;  
  background-position:center;
  background-size: cover, cover;
  border-bottom: solid 1px #d2d3d9;
}

.Discover-Body-Listing-Box {
  cursor: pointer;
  width: 223px;
  height: 284px;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 rgba(219, 219, 219, 0.5);
  background-color: #ffffff;
  border: solid 1px #d2d3d9;
  float: left;
  margin-right:14px;
  margin-bottom: 10px;
}

.Discover-Body-Listing-Box-Last {
	margin:0;
}

.Discover-Body-Listing-Box-Photo {
  width: 223px;
  height: 225px;
  border-radius: 2px;  
  background-position:center;
  background-size: cover, cover;
  border-bottom: solid 1px #d2d3d9;
}

.Discover-Body-Listing-Box-Title {
  margin:10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Noto Sans';
  font-size: 13.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.Discover-Body-Listing-Box-Title a {
	text-decoration: none;
	color: black;
}

.Discover-Body-Listing-Box-Title a:hover {
	text-decoration: underline;
}

.Listing-Details {
		width:100%;
}

.Listing-Star {
  width: 15px;
  height: 18px;
  margin-left: 10px;
  font-family: AppleColorEmoji;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.73;
  letter-spacing: normal;
  text-align: left;
  color: #252525;
  float:left;
  display: table-cell; vertical-align: middle;
}

.Listing-Rating {
  width: 52px;
  height: 18px;
  opacity: 0.75;
  font-family: 'Noto Sans';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  float:left;
  display: table-cell; vertical-align: middle;
}

.Listing-Price {
  width: 70px;
  height: 18px;
  font-family: 'Noto Sans';
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2bad23;
  text-align: right;
  float:right;
  margin-right:10px;
  display: table-cell; vertical-align: middle;
}

.Listing-Breadcrumb {
  max-width: 450px;
  display: inline-block;
  height: 37px;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 #cfcfcf;
  background-color: #ffffff;
  border: solid 1px #d2d3d9;
  padding-right:10px;
}

.Search-Avatar-Circle {
  width: 36px;
  margin: 5px 10px;
  height: 36px;
  border-radius: 35px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  border: solid 2px #ffffff;
  background-repeat: no-repeat;
  background-size: 36px 36px;
  float: right;
}

.Store-Avatar-Circle {
  width: 24px;
  margin: 5px 10px;
  height: 24px;
  border-radius: 23px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  border: solid 2px #ffffff;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  float: left;
}

.Store-Title {
  height: 37px;
  line-height: 37px; 
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  float:left;
  display: table-cell; vertical-align: middle;
}

.Store-Go {
  height: 17px;
  opacity: 0.75;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #252525;
}

.Listing-Box {
  margin-top: 10px;
  width: 907px;
  padding: 20px;
  height: 609px;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 #cfcfcf;
  background-color: #ffffff;
  border: solid 1px #d2d3d9;
}

.Listing-Tags {
	padding: 20px;
	width: 360px;
}
.tag { 
  height: 18px;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 rgba(219, 219, 219, 0.5);
  background-color: #ffffff;
  border: solid 1px #dbdbdb;
  padding: 7px 12px;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  cursor: pointer;
  margin-bottom: 7px;
}
.tag:hover {
	border: solid 1px #999999;
}

.Listing-Title {
  height: 33px;
  width: 730px;
  font-size: 24px;
  float:left;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.Listing-Detailed-Price {
	float:right;

  height: 33px;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #2bad23;

}

.Listing-Upper {
	margin-top:20px;
}

#Listing-Upper-Image {
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;

  background-size: cover;
  background-position: center;
  float:left;
}

.Purchase-Button-Box {
  float:left;
  margin:0 0 0 20px;
  min-width: 375px;
/*   height: 153px; */
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #d2d3d9;
  text-align: center;
  padding-top: 22px;
}

.Listing-Condition-Box {
	text-align:center;
	font-size: 14px;
	margin: 10px 0;
}


.Description-Box {
  width: 927px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 #cfcfcf;
  background-color: #ffffff;
  border: solid 1px #d2d3d9;
}

.Description-Header {
  height: 33px;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.Purchase-Button {
  width: 305px;  	
  height: 56px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 0 3px 0 rgba(149, 149, 149, 0.5);
  background-image: linear-gradient(to bottom, #54d447, #2bad23);
  border: solid 2px #ffffff;
  display: table-cell; 
  vertical-align: middle;
  cursor: pointer;

 
  
}

.Purchase-Button-Text { 
	font-family: 'Helvetica Neue';
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-shadow: 0 0 1px #319832;

}

.Free-Shipping {
  width: 72px;
  height: 13.8px;
  border-radius: 1px;
  background-color: #2bad23;
  font-family: 'Helvetica Neue';
  font-size: 8px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 13.8px;
  letter-spacing: normal;
    text-align: center;
  color: #ffffff;
margin-bottom:5px;
  vertical-align: middle;
  display: inline-block;

}

.Store-Header-Bar  {
  width: 100%;
  height: 54px;
  background-color: #ffffff;
  box-shadow: 0 0 0 0 rgba(219, 219, 219, 0.5);
  border-top: solid 1px #d2d3d9;

  display: table;
}

.Store-Count {
	font-size: 13px;
	color: #2bad23;
}

.Store-Avatar {
  width: 36px;
  height: 36px;
  padding-left:20px;
  vertical-align: middle;
  display: table-cell;
  padding:
}
.Store-Avatar img {
	width: 36px;
  height: 36px;
  border-radius: 23px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  border: solid 2px #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-box-header {
	font-size: 15px;
	font-weight: bolder;
}

.sidebar-label {
	margin-top: 10px;
	font-size: 15px;
	font-weight:bold;
}

.sidebar-detail {
	font-size: 13px;
	color: #252525;
}

.Store-Home-Avatar {
  width: 50px;
  height: 50px;
  padding-left:20px;
  vertical-align: middle;
  display: table-cell;
  padding:
}
.Store-Home-Avatar img {
	width: 50px;
  height: 50px;
  border-radius: 23px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  border: solid 2px #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.Store-Header-Info {
	display: table-cell;
	vertical-align: middle;
	padding-left:5px;
	width:400px;
		
}
.Store-Header-Info-Name {
	font-family: 'Noto Sans';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.Store-Header-Info-Details {
	font-size: 10px;
	color: #252525;
	opacity: 0.75;
}
.Store-Header-Nav {
	display: table-cell;
	vertical-align: middle;
}
.Store-Header-Nav .header-tab {
	display: table-cell;
	padding: 0 25px;
	color: #777777;
	vertical-align: middle;
	font-size: 15px;
	height: 54px;
	cursor: pointer;
}
.Store-Header-Nav .active {
	color: #313131;
	border-bottom: 1px solid #252525;
}

.no-padding { padding: 0 !important;}

.Store-Home-Mini-Header {
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100px;
    display: block;
}

.Store-Home-Mini-Header :parent {
	padding:0 ;
}

.Store-Hero {
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 341px;
    border-top: solid 1px #d2d3d9;
    display: block;
}

.hero-title {
	width: 947px;
	margin:0 auto;
	padding-top:250px;
  height: 60px;
  font-family: 'Noto Sans';
  font-size: 44px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
}

.Store-Listings-Content {
	display: table;
}
.Store-Listings-Content-Filters {
	display: table-column;
	width: 228px;
}

.table-cell {
	display: table-cell;	
}

.Search-Filter-Box {
	width: 200px;
	padding:12px;
	font-size: 14px;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 rgba(219, 219, 219, 0.5);
  background-color: #ffffff;
  border: solid 1px #d2d3d9;
  margin-bottom: 12px;

}

.Store-Filter-Box {
	width: 100%;
	padding:12px;
	font-size: 14px;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 rgba(219, 219, 219, 0.5);
  background-color: #ffffff;
  border: solid 1px #d2d3d9;
  margin-bottom: 12px;
  
}
.filter-box-heading {
	font-weight: bold;
}
.Discover-Pagination {
	margin:20px 0 60px 0;
	text-align: right;

	float:right;
}

.Pagination-Box {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 rgba(228, 229, 231, 0.5);
  background-color: #ffffff;
  border: solid 1px #d2d3d9;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  
}
.Dead-Back { color: #777777; 
	cursor: default;
}

.Config-Button {
	width: 36px;
  height: 30px;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 rgba(228, 229, 231, 0.5);
  background-color: #ffffff;
  border: solid 1px #d2d3d9;
  background-position: center center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  float:right;
  cursor: pointer;

}

.Header-Select {
	float:right;
	position: relative;
  height: 30px;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 rgba(228, 229, 231, 0.5);
  background-color: #ffffff;
  border: solid 1px #d2d3d9;
  margin-right: 5px;

}
.Header-Select select {
	padding: 7px 8px;
    width: 100%;
    font-size: 12px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

div.hidden { display: none; }

.up-arrow {
    display: inline-block;
    position: relative;
    border: 2px solid #dc873a;
    text-decoration: none;
    border-radius: 2px;
    padding: 20px;
    margin-top: 45px;
    margin-left: -27px;
    background-color: #fef9f5;
}
.up-arrow:before {
    content: '';
    display: block;  
    position: absolute;
    left: 29px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 13px solid transparent;
    border-bottom-color: #dc873a;
}

.up-arrow:after {
    content: '';
    display: block;  
    position: absolute;
    left: 32px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fef9f5;
}

.phraseBox {
	margin-right: 8px;
	float:right;
	margin-top:8px;
	width: 80px;
    padding: 3px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    border-radius: 1px;
    background-color: #2bae23;
    font-family: 'Noto Sans';
    color: white;
}

.Purchasing-Modal {
	width: 640px;
  height: 300px;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 #cfcfcf;
  background-color: #ffffff;
  border: solid 1px #d2d3d9;
  
  margin:0 auto;
  padding: 50px 30px;
  
}

.Modal-Header {
	font-size: 18px;
	font-weight: bolder;
}

.download-button {
  width:auto;
  padding: 0 20px;
  height: 42px;
  border-radius: 2px;
  box-shadow: 0 0 3px 0 rgba(149, 149, 149, 0.5);
  background-image: linear-gradient(to bottom, #54d447, #2bad23);
  border: solid 2px #ffffff;
  color: white;
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  cursor: pointer;
  
}

.modal-button {
	cursor: pointer;
  height: 38px;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 rgba(219, 219, 219, 0.5);
  background-color: #ffffff;
  border: solid 1px #d2d3d9;
  vertical-align: middle;
  display: table-cell;
  padding-left: 20px;
  padding-right: 20px;
  
}

.footer {
	height: 96px;
  background-color: #ffffff;
  vertical-align: middle;
  display: table-cell;
  width: 100%;
}

.footer-linkbar a {
	color: #777777;
	text-decoration: none;
	margin-right:20px;
}
.footer-linkbar a:hover {
	text-decoration: underline;
}

.rating-category {
	height:27px;
	display: table-row;
	vertical-align: middle;
}

.shipping-header-row div {
	padding: 10px 0;
	font-weight: bolder;
}
.shipping-body-row div {
	padding: 10px 0;
}

.category-row div {
	padding: 4px 0;
}
.category-row.active > div:first-of-type {
	padding: 4px 5px;	
	border-left: 3px solid #3f4f59;
}
.category-row.active > div:nth-of-type(2) {
	font-weight: bolder;
}

.search-icon-frame {
	display: table-cell;
	vertical-align: middle;
	width: 36px;
}

.overlay {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  opacity: 0.95;
    overflow-x:hidden;
}

.overlay .content {
  width: 500px;
  display: block;
}

.shipping-header-row, .shipping-body-row { 
	font-size:14px;
}

.Settings-Row {
	display: table-row
}
.Settings-Row > div {
	display:table-cell;
	padding:10px;
	font-size: 14px;
	vertical-align: middle;
}
.Settings-Row > div:first-of-type {
	width:150px;
}

.Settings-Select {
	float:right;
	position: relative;
  height: 30px;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 rgba(228, 229, 231, 0.5);
  background-color: #ffffff;
  border: solid 1px #d2d3d9;
  margin-right: 5px;

}
.Settings-Select select {
	padding: 7px 8px;
    width: 300px;
    font-size: 12px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.Settings-Text  {
	float:right;
	font-size: 12px;
	padding: 7px 8px;
	position: relative;
  height: 30px;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 rgba(228, 229, 231, 0.5);
  background-color: #ffffff;
  border: solid 1px #d2d3d9;
  margin-right: 5px;
  width:auto;

}
.user-btn {

  border-radius: 2px;
  box-shadow: 0 1px 0 0 rgba(219, 219, 219, 0.5);
  background-color: #ffffff;
  border: solid 1px #d2d3d9;
  display:table-cell;
  vertical-align: middle;
  padding: 8px 25px;
  font-size: 13.5px;
  font-weight: bold;

  cursor:pointer;
  float:right;
}
.user-btn:hover {
	border-color: #999;
}
.message-btn {

}
.follow-btn {
	margin-left:0px;
}
.user-action-bar {
/*
	margin:0 auto;
	margin-left:980px;
	margin-top: -50px;
*/
width: 900px;
text-align: right;
margin:0 auto;
margin-top:-40px;
text-align: right;
}